flask==1.0.2
Flask-Script==2.0.6
Flask-Testing==0.7.1
gunicorn==19.7.1
flask-marshmallow==0.10.0
kafka-python==1.4.6
Flask-SQLAlchemy==2.3.2
Flask-Cors==3.0.7
marshmallow-sqlalchemy==0.16.1
SQLAlchemy==1.2.0
pyyaml==5.1
pytz==2018.9
